@import "vars";


html, body {
  margin: 0;
  padding: 5px;
  height: 100%;
  background: #2b2b2b;
  color: #fff;
  font-size: $promptFontSize;
}


body {
  margin: 15px 0 0 0;
  overflow: hidden;
}



.prompt {
  width: 100%;
  font-size: $promptFontSize;
  background: none;
  border: none;
  color: #a2c7ee;
  outline: none;
}


.autocomplete {
  position: relative;
}
